* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0px;
    background: white;
}

nav{
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1,
nav ul {
    font-size: 1.5rem;
    flex: 1;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav a {
    color: black;
    text-decoration: none;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2{
    font-size: 5rem ;
    color: white;
}

.home {
    background: linear-gradient(to right top,  #4568dc, #b06ab3);
}

.projects {
    background: linear-gradient(to right top, #43c6ac, #191654);
}

.about {
    background: linear-gradient(to right top, #f0f2f0, #000c40);
}

.bubble {
    position: absolute;
    z-index: -2;
    background: linear-gradient(to right top,  #4568dc, #b06ab3);
    transform: scale(2);
    transition: all 0.5s ease;
}